<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fujitsu.dao.mysql.ResourceStatisticManagerMapper">
    <!-- 根据父节点（多个）获取机房信息  -->
	<select id="getSubNeByIDs" resultType="hashmap"
		parameterType="hashmap">
        select 
            tbn.BASE_EMS_CONNECTION_ID as emsId,
            tra.AREA_NAME  as areaName,
            trs.STATION_NAME as stationName, 
            tbc.DISPLAY_NAME as emsName,
            tbn.DISPLAY_NAME as neName,
            tbn.PRODUCT_NAME as neModel
        from 
        t_base_ne tbn,
        t_base_ems_connection tbc,
        t_resource_station trs,
        t_resource_area tra,
        t_resource_room trr
        where 
        tbn.RESOURCE_ROOM_ID in ${parentIds}
        and tbc.BASE_EMS_CONNECTION_ID = tbn.BASE_EMS_CONNECTION_ID
		and trr.RESOURCE_ROOM_ID = tbn.RESOURCE_ROOM_ID
		and trs.RESOURCE_STATION_ID = trr.RESOURCE_STATION_ID
        and tra.RESOURCE_AREA_ID = trs.RESOURCE_AREA_ID	
        and tbn.BASE_EMS_CONNECTION_ID in ${emsIdList}
     <if test="limit>0">
		LIMIT ${start}, ${limit}
	</if>
    </select>
    
  	<select id="getSubNeByIDsChart" resultType="hashmap"
		parameterType="hashmap"> 
        select 
        	#{text} as text,
            tbn.PRODUCT_NAME as neModel,  
			COUNT(*) as count 
        from 
	        t_base_ne tbn,
	        t_base_ems_connection tbc
        where 
	        tbn.RESOURCE_ROOM_ID in ${parentIds}
	        and tbc.BASE_EMS_CONNECTION_ID = tbn.BASE_EMS_CONNECTION_ID
	        and tbn.BASE_EMS_CONNECTION_ID in ${emsIdList}
	      GROUP BY tbn.PRODUCT_NAME
    </select>
    
    
    <select id="getSubUnitByIDs" resultType="hashmap"
		parameterType="hashmap">
        select 
            tbn.BASE_EMS_CONNECTION_ID as emsId,
            tra.AREA_NAME  as areaName,
            trs.STATION_NAME as stationName, 
            tbc.DISPLAY_NAME as emsName, 
            tbn.DISPLAY_NAME as neName,
            tbn.PRODUCT_NAME as neModel,
            tbu.UNIT_DESC as unitDesc,
            tbu.DISPLAY_NAME as unitName
        from 
        t_base_ne tbn,
        t_base_unit tbu,
        t_base_ems_connection tbc,
        t_resource_station trs,
        t_resource_area tra,
        t_resource_room trr
        where
		tbu.BASE_NE_ID = tbn.BASE_NE_ID and
        tbn.RESOURCE_ROOM_ID in ${parentIds}
        and tbc.BASE_EMS_CONNECTION_ID = tbn.BASE_EMS_CONNECTION_ID
        and trr.RESOURCE_ROOM_ID = tbn.RESOURCE_ROOM_ID
        and trs.RESOURCE_STATION_ID = trr.RESOURCE_STATION_ID
        and tra.RESOURCE_AREA_ID = trs.RESOURCE_AREA_ID	
        and tbn.BASE_EMS_CONNECTION_ID in ${emsIdList}
     <if test="limit>0">
		LIMIT ${start}, ${limit}
	</if>
    </select>
  
   	<select id="getSubUnitByIDsChart" resultType="hashmap"
		parameterType="hashmap">  
        select 
      	    #{text} as text,
            tbu.DISPLAY_NAME as unitName, 
			COUNT(*) as count 
        from
            t_base_unit tbu,
	        t_base_ne tbn,
	        t_base_ems_connection tbc 
        where 
        	tbu.BASE_NE_ID = tbn.BASE_NE_ID and
	        tbn.RESOURCE_ROOM_ID in ${parentIds}
	        and tbc.BASE_EMS_CONNECTION_ID = tbn.BASE_EMS_CONNECTION_ID 
	        and tbn.BASE_EMS_CONNECTION_ID in ${emsIdList}
	      GROUP BY tbu.DISPLAY_NAME
    </select>
    
   <select id="getSubPortByIDs" resultType="hashmap"
		parameterType="hashmap">
        select 
            tbn.BASE_EMS_CONNECTION_ID as emsId,
            tra.AREA_NAME  as areaName,
            trs.STATION_NAME as stationName, 
            tbc.DISPLAY_NAME as emsName, 
            tbn.DISPLAY_NAME as neName,
            tbn.PRODUCT_NAME as neModel,  
            tbp.PORT_DESC as portNo,
         	tbp.PTP_TYPE as rate
        from 
        t_base_ptp tbp,
        t_base_ne tbn,
        t_base_ems_connection tbc,
        t_resource_station trs,
        t_resource_area tra,
        t_resource_room trr
        where
      	tbp.PTP_TYPE!='' and   tbp.PTP_TYPE IS NOT NULL AND
		tbp.BASE_NE_ID = tbn.BASE_NE_ID and
        tbn.RESOURCE_ROOM_ID in ${parentIds}
        and tbc.BASE_EMS_CONNECTION_ID = tbn.BASE_EMS_CONNECTION_ID
        and trr.RESOURCE_ROOM_ID = tbn.RESOURCE_ROOM_ID
		and trs.RESOURCE_STATION_ID = trr.RESOURCE_STATION_ID
        and tra.RESOURCE_AREA_ID = trs.RESOURCE_AREA_ID	
        and tbn.BASE_EMS_CONNECTION_ID in ${emsIdList}
    <if test="limit>0">
		LIMIT ${start}, ${limit}
	</if>
    </select>
  
   	<select id="getSubPortByIDsChart" resultType="hashmap"
		parameterType="hashmap">  
        select 
      	    #{text} as text,
        	tbp.PTP_TYPE as ptpType,
			COUNT(*) as count 
        from
            t_base_ptp tbp,
	        t_base_ne tbn,
	        t_base_ems_connection tbc
        where 
      	    tbp.PTP_TYPE!='' and   tbp.PTP_TYPE IS NOT NULL AND
        	tbp.BASE_NE_ID = tbn.BASE_NE_ID and
	        tbn.RESOURCE_ROOM_ID in ${parentIds}
	        and tbc.BASE_EMS_CONNECTION_ID = tbn.BASE_EMS_CONNECTION_ID
	        and tbn.BASE_EMS_CONNECTION_ID in ${emsIdList}
	      GROUP BY tbp.PTP_TYPE
    </select>
    
      <select id="getSubPortByIDsCount" resultType="hashmap"
		parameterType="hashmap">
      	SELECT count(1) total
        from 
        t_base_ptp tbp,
        t_base_ne tbn,
        t_base_ems_connection tbc,
        t_resource_station trs,
        t_resource_area tra,
        t_resource_room trr
        where
        tbp.PTP_TYPE!='' and  tbp.PTP_TYPE IS NOT NULL AND
		tbp.BASE_NE_ID = tbn.BASE_NE_ID and
        tbn.RESOURCE_ROOM_ID in ${parentIds}
        and tbc.BASE_EMS_CONNECTION_ID = tbn.BASE_EMS_CONNECTION_ID
        and trr.RESOURCE_ROOM_ID = tbn.RESOURCE_ROOM_ID
		and trs.RESOURCE_STATION_ID = trr.RESOURCE_STATION_ID
        and tra.RESOURCE_AREA_ID = trs.RESOURCE_AREA_ID	
        and tbn.BASE_EMS_CONNECTION_ID in ${emsIdList} 
    </select>  
    
      <select id="getSubUnitByIDsCount" resultType="hashmap"
		parameterType="hashmap">
        SELECT count(1) total
        from 
        t_base_ne tbn,
        t_base_unit tbu,
        t_base_ems_connection tbc,
        t_resource_station trs,
        t_resource_area tra,
        t_resource_room trr
        where
		tbu.BASE_NE_ID = tbn.BASE_NE_ID and
        tbn.RESOURCE_ROOM_ID in ${parentIds}
        and tbc.BASE_EMS_CONNECTION_ID = tbn.BASE_EMS_CONNECTION_ID
        and trr.RESOURCE_ROOM_ID = tbn.RESOURCE_ROOM_ID
		and trs.RESOURCE_STATION_ID = trr.RESOURCE_STATION_ID
        and tra.RESOURCE_AREA_ID = trs.RESOURCE_AREA_ID	
        and tbn.BASE_EMS_CONNECTION_ID in ${emsIdList}
    </select>
    
   	<select id="getSubNeByIDsCount" resultType="hashmap"
		parameterType="hashmap">
        SELECT count(1) total
        from 
        t_base_ne tbn,
        t_base_ems_connection tbc,
        t_resource_station trs,
        t_resource_area tra,
        t_resource_room trr
        where
        tbn.RESOURCE_ROOM_ID in ${parentIds}
        and tbc.BASE_EMS_CONNECTION_ID = tbn.BASE_EMS_CONNECTION_ID
		and trr.RESOURCE_ROOM_ID = tbn.RESOURCE_ROOM_ID
		and trs.RESOURCE_STATION_ID = trr.RESOURCE_STATION_ID
        and tra.RESOURCE_AREA_ID = trs.RESOURCE_AREA_ID	
        and tbn.BASE_EMS_CONNECTION_ID in ${emsIdList}
    </select>
</mapper>